/* NAVBAR PROPERTIES */

.cd-navbar {
  height: 100%;
  width: 72px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 24px -4px #ddd;
  border-right: 1px solid #eee;
}

.cd-navbar-brand {
  padding: 8px 8px;
  font-size: 0.75rem;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.cd-navbar-brand a {
  color: #000;
  text-decoration: none; 
}

.cd-navbar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.cd-navbar-link {
  opacity: 0.75;
  font-size: 0.65rem;
  display: block;
  padding: 16px 24px;
}

.cd-navbar-link:hover {
  opacity: 1;
  text-decoration: none;
}

.cd-navbar-link-active {
  border-right: 3px solid #f8485e;
}

.cd-navbar-link-icon {
  vertical-align: middle;
  margin: 0;
  color: #f8485e;
}

.cd-navbar-link-text {
  vertical-align: middle;
  display: none;
  color: #000;
}

.cd-navbar-footer {
  padding: 0px 0px 8px 0px;
  bottom: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  list-style: none;
  text-align: center;
}

.content {
  margin-left: 72px;
  padding: 24px;
}

@media screen and (min-width: 1200px) {
  
  .cd-navbar {
    width: 240px;
  }

  .cd-navbar-brand {
    padding: 16px 24px;
    font-size: 1.5rem;
  }

  .cd-navbar-list {
    text-align: left;
  }

  .cd-navbar-link {
    font-size: 1.25rem;
    padding: 12px 24px;
  }

  .cd-navbar-link-icon {
    margin-right: 16px;
  }

  .cd-navbar-link-text {
    display: inline;
  }

  .cd-navbar-footer {
    text-align: left;
    padding-bottom: 9px;
  }

  .content {
    margin-left: 240px;
  }

}

/* FORMS AND INPUT PROPERTIES */

input[type="text"] {
  font-size: 1.5rem;
  padding: 0.25rem;
  height: auto;
  line-height: 1;
}

input[type="number"] {
  font-size: 1.5rem;
  padding: 0.25rem;
  height: auto;
  line-height: 1;
  text-align: center;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table th {
  border-left: none;
  border-right: none;
  text-align: center;
}

.table td {
  font-size: 1.5rem;
  vertical-align: middle;
  border-left: none;
  border-right: none;
  text-align: center;
}

.sortable-ghost {
  opacity: 0;
}

.drag-handle {
  cursor: move;
  cursor: -webkit-grabbing;
}
